<div>
    <table class="table table-bordered">
        <caption>Gamefield</caption>
        <thead>
            <tr>
                <th>
                    Col: 1
                </th>
                <th>
                    Col: 2
                </th>
                <th>
                    Col: 3
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{firstRowFirstCol}}</td>
                <td>{{firstRowSecondCol}}</td>
                <td>{{firstRowThirdCol}}</td>
            </tr>
            <tr>
                <td>{{secondRowFirstCol}}</td>
                <td>{{secondRowSecondCol}}</td>
                <td>{{secondRowThirdCol}}</td>
            </tr>
            <tr>
                <td>{{thirdRowFirstCol}}</td>
                <td>{{thirdRowSecondCol}}</td>
                <td>{{thirdRowThirdCol}}</td>
            </tr>
        </tbody>
    </table>
</div>