@charset "utf-8";
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
section,
aside,
nav,
article,
hr,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  margin: 20px 0 10px 0;
}
hr {
  border: none;
  background: #ccc;
  height: 1px;
}
strong {
  font-weight: 500;
}
a {
  color: #126270;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #0e899f;
}
a.neutral {
  border: none;
}
a.button {
  display: inline-block;
  text-decoration: none;
}
body {
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #6f6f6f;
}
#wrapper {
  position: relative;
  width: 900px;
  height: auto;
  margin: 0 auto;
}
#main-header {
  position: relative;
  padding: 10px 3px;
  box-shadow: inset 0 -3px 3px -3px rgba(0,0,0,0.5);
  height: 53px;
}
#main-header .authentication {
  margin-top: 10px;
  float: right;
}
#main-header .authentication div.welcome {
  margin-top: 10px;
  cursor: pointer;
}
#main-header .authentication div.welcome:hover {
  border-bottom: 1px dotted #000;
}
#main-header img.logo {
  float: left;
}
#main-header h1.header {
  position: relative;
  font-weight: normal;
  display: inline-block;
  float: left;
  font-size: 17px;
  margin-left: 10px;
  color: #d3d3d3;
  top: 15px;
}
.arrow-down {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6f6f6f;
  display: inline-block;
}
#main {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
}
#main-footer {
  position: relative;
  padding: 10px 3px;
  box-shadow: inset 0 3px 5px -4px rgba(0,0,0,0.5);
  font-size: 13px;
}
#main-footer > span.left {
  margin-right: 20px;
}
#main-footer > span.right {
  float: right;
  margin-left: 20px;
}
button,
input,
select,
textarea {
  outline: none;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="file"] {
  width: 300px;
}
button,
input,
select,
a.button,
textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  padding: 4px 6px;
  border: 2px solid #ccc;
  color: #ccc;
  background: transparent;
  transition: 0.3s ease;
  margin: 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
button,
a.button {
  cursor: pointer;
}
a.button,
input {
  padding: 5px 8px;
}
button:hover,
a.button:hover {
  border-color: #dc7421;
  color: #dc7421;
}
input:hover,
select:hover {
  border-color: #ccc;
}
input,
select,
textarea {
  border-color: #acacac;
  color: #444;
}
input:invalid {
  box-shadow: none;
}
textarea {
  width: 98%;
  min-height: 100px;
  max-height: 400px;
  box-sizing: border-box;
  resize: vertical;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #dc7421;
  box-shadow: 0 0 3px rgba(220,116,33,0.5);
}
.static-input-width {
  width: 180px;
}
.static-select-width {
  width: 200px;
}
.stat-sel-raligned-width {
  width: 130px;
}
.static-number-width {
  width: 170px;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 5px;
}
fieldset {
  overflow: hidden;
  margin: 15px 0 0 0;
  border: none;
}
fieldset legend {
  font-size: 25px;
  margin-bottom: 20px;
}
fieldset .row {
  margin-bottom: 10px;
  overflow: hidden;
}
fieldset .col {
  margin-right: 10px;
  float: left;
}
fieldset p.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
fieldset input,
fieldset select,
fieldset button {
  margin-left: 0;
}
.slide-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  z-index: 99999;
  display: none;
}
#login-form {
  padding: 25px 15px;
}
#login-form input {
  margin-bottom: 10px;
}
#login-form fieldset {
  margin: 0;
}
.slide-select {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
.slide-select > li {
  transition: background 0.3s ease;
}
.slide-select > li:hover {
  background: #dc7421;
}
.slide-select a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  color: #777;
}
.slide-select a:hover {
  color: #fff;
}
#latest-ads {
  overflow: hidden;
}
#latest-ads > .thumb-ad {
  width: 267px;
}
.thumb-ad {
  white-space: nowrap;
  position: relative;
  border: 1px solid #ccc;
  padding: 7px;
  overflow: hidden;
  transition: 0.3s ease;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
}
.thumb-ad:before {
  position: absolute;
  width: 12px;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: inset -10px 0 5px -5px #fff;
  content: "";
  display: block;
}
.thumb-ad > div {
  float: left;
}
.thumb-ad .info {
  margin-left: 10px;
  max-width: 20%;
}
.thumb-ad span.price {
  color: #50a60a;
  font-weight: 500;
  border: 1px solid #50a60a;
  padding: 0 4px;
}
.thumb-ad span.field {
  color: #999;
}
.thumb-ad p {
  font-size: 14px;
  margin-bottom: 3px;
}
.thumb-ad p.title {
  font-size: 16px;
  font-weight: 500;
}
.thumb-ad .thumb-ad:hover {
  border-color: #dc7421;
}
table {
  width: 100%;
  border-spacing: 0;
}
table.cars th:first-child {
  width: 50%;
}
table.cars td:last-child {
  text-align: right;
}
table.cars td:first-child img {
  vertical-align: middle;
  margin-right: 15px;
}
table.cars td:first-child a {
  font-size: 16px;
  font-weight: 500;
}
table.cars span.price {
  font-weight: 500;
  color: #50a60a;
  border: 2px solid #50a60a;
  padding: 3px 6px;
  background: rgba(255,255,255,0.7);
  transition: 0.4s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
table.cars span.price:hover {
  box-shadow: 0 0 3px rgba(80,166,10,0.9);
}
th,
td {
  padding: 10px 8px;
}
th {
  font-size: 16px;
  color: #222;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #999;
}
th > span {
  color: #888;
  cursor: pointer;
}
th > span:hover {
  color: #dc7421;
}
tr:nth-child(2n) {
  background: #ececec;
}
.title-options {
  margin: 15px 0 10px 0;
}
.title-options > h2 {
  float: left;
  margin: 0;
}
.title-options > .options {
  float: right;
}
.ad {
  overflow: hidden;
  margin-top: 25px;
}
.ad > div {
  float: left;
}
.ad > .photo {
  margin-right: 20px;
}
.ad .detailed-data {
  width: 570px;
  overflow: hidden;
}
.ad .detailed-data > div {
  float: left;
}
.ad .detailed-data > div.price {
  float: right;
  text-align: right;
  padding-top: 10px;
}
.ad .info .gen-data {
  overflow: hidden;
  margin-top: 7px;
}
.ad .general {
  white-space: nowrap;
}
.ad .general p {
  margin: 5px 0 0 0;
  font-size: 16px;
  float: left;
}
.ad h3 {
  font-size: 24px;
  font-weight: 500;
}
.ad p.edit {
  margin-top: 15px;
}
.ad span.price-tag {
  font-weight: 500;
  font-size: 20px;
  color: #50a60a;
  border: 2px solid #50a60a;
  padding: 4px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ad .additional-info {
  padding: 12px 10px 0 20px;
}
.ad .additional-info > p {
  font-weight: 500;
  word-spacing: 0.5em;
  margin-bottom: 17px;
  font-size: 16px;
}
.ad .additional-info span {
  font-weight: normal;
  color: #999;
}
p.ad-description {
  padding: 10px;
  line-height: 1.4em;
  text-align: justify;
}
.contact-data {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, #fff 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid;
}
.contact-data :DXImageTransform.Microsoft.gradient(startColorstr='#ffffff':first-child,
.contact-data endColorstr='#ededed':first-child,
.contact-data GradientType=0 ):first-child,
.contact-data border 1px solid #CCC:first-child,
.contact-data padding 15px:first-child,
.contact-data color #222:first-child,
.contact-data overflow hidden:first-child,
.contact-data > p:first-child {
  float: left;
}
.contact-data :DXImageTransform.Microsoft.gradient(startColorstr='#ffffff':last-child,
.contact-data endColorstr='#ededed':last-child,
.contact-data GradientType=0 ):last-child,
.contact-data border 1px solid #CCC:last-child,
.contact-data padding 15px:last-child,
.contact-data color #222:last-child,
.contact-data overflow hidden:last-child,
.contact-data > p:last-child {
  float: right;
  text-align: right;
}
.car-info-icon {
  background: url("../img/car_info.png");
  width: 43px;
  height: 30px;
  margin-right: 15px;
  float: left;
}
.car-info-icon.dist {
  background-position: 0 0;
}
.car-info-icon.gears {
  background-position: 0 -30px;
}
.car-info-icon.engine {
  background-position: 0 -60px;
}
.car-info-icon.hp {
  background-position: 0 -90px;
}
.car-info-icon.cal {
  background-position: 0 -120px;
}
