doctype
html
    head
        title Auto Trader
        meta(charset='utf-8')
        link(rel='stylesheet', href='/css/style.css')        
        link(rel='stylesheet', href='/css/lightbox.css')
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,500', rel='stylesheet', type='text/css')
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser