.title-options
    h2 Car models
    .options
        button(ng-click="prevPage()") <
        input(type='text', size='2', maxlength='2', ng-model="page", ng-change="setPage()")
        button(ng-click="nextPage()") >
        a.button(href='#/admin/models/add') Add
table.cars
    thead
        tr
            th
                | Make name
            th
                | Model name
                span(ng-click="sortBy('')") ⇅
            th
    tbody
        tr(ng-repeat="model in models")
            td
                | {{model.make.name}}
            td
                | {{model.name}}
            td
                a.button(href='#/admin/models/{{model._id}}') Edit