body {
    background-color: #A9A9A9;
    font-size: 20px;
}

h1 {
    color: #FAFAD2;
}

section footer {
    text-align: left;
    font-size: 1.0rem;
}

header {
    font-size: 1.7em;
}

footer {
    font-size: 1.3rem;
}

nav, header, footer {
    text-align: center;
}

    nav a {
        color: white;
        font-size: 1.3em;
    }

    footer a {
        color: black;
    }

a {
    text-decoration: none;
}

    a.current {
        background-color: #D3D3D3;
    }

li:nth-last-child(1) {
    color: white;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}
