body {
    font-size: 15px;
}

section {
    background-color: rgb(89, 89, 89);
    width: 500px;
    padding: 5px;
}

dt, dd {
    display: inline-block;
}

dt {
    color: #F4F0EA;
    width: 30%;
    margin-left: 5px;
    vertical-align: top;
    font-style: italic;
}

dd {
    width: 60%;
    line-height: 2em;
}

dt:after {
    content: ":";
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.gray {
    color: rgb(148, 166, 160);
}

.red {
    color: #CB0D06;
}

.beige {
    color: #D5D38C;
}

.greenDot:before {
    content: url(images/greendot.png)" ";
}

.orange {
    color: #CC6541;
}
