extends ../shared/layout

block main-content
    form(method="post", enctype="multipart/form-data")
        label(for="username") Username
        input(id="username" class="form-control" type="text" name="username" placeholder="Username" required="required")
        br        
        label(for="firstName") First Name
        input(id="firstName" class="form-control" type="text" name="firstName" placeholder="First name" required="required")
        br
        label(for="lastName") Last Name
        input(id="lastName" class="form-control" type="text" name="lastName" placeholder="Last name" required="required")
        br        
        label(for="phoneNumber") Phone number
        input(id="phoneNumber" class="form-control" type="text" name="phoneNumber" placeholder="Phone number")
        br
        label(for="email") Email
        input(id="email" class="form-control" type="text" pattern="[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})" name="email" placeholder="email" required="required")
        br        
        label(for="facebook") Facebook
        input(id="facebook" class="form-control" type="text" name="facebook" placeholder="Facebook")
        br        
        label(for="twitter") Twitter
        input(id="twitter" class="form-control" type="text" name="twitter" placeholder="Twitter")
        br        
        label(for="linkedin") Linkedin
        input(id="linkedin" class="form-control" type="text" name="linkedin" placeholder="Linkedin")
        br        
        label(for="googleplus") Googleplus
        input(id="googleplus" class="form-control" type="text" name="googleplus" placeholder="Googleplus")
        br        
        label(for="password") Password
        input(id="password" class="form-control" type="password" name="password" placeholder="Password" required="required")
        br
        label(for="confirm-password") Confirm Password
        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password" required="required")
        br
        label(for='avatar') Photo
        input(type="file" name="avatar")
        br
        input(type="submit" class="btn btn-lg" value="Register")
