extends ../shared/layout

block main-content
    form(method="post")
        label(for="title") Title
        input(id="title" class="form-control" type="text" name="title" placeholder="Title" required="required")
        br        
        label(for="description") Description
        input(id="description" class="form-control" type="text" name="description" placeholder="Description" required="required")
        br
        label(for="latitude") Latitude
        input(id="latitude" class="form-control" type="text" name="latitude" placeholder="Latitude" required="required")
        br        
        label(for="longitude") Longitude
        input(id="longitude" class="form-control" type="text" name="longitude" placeholder="Longitude" required="required")
        br
        label(for="initiative") Initiative
        input(id="initiative" class="form-control" type="text"  name="initiative" placeholder="Initiative" required="required")
        br        
        label(for="season") Season
        input(id="season" class="form-control" type="text" name="season" placeholder="Season" required="required")
        br        
        label(for="category") Category
        input(id="category" class="form-control" type="text" name="category" placeholder="Category")
        br        
        input(type="submit" class="btn btn-lg" value="Create")